# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\most_important\Java_revision\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
